/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Luciole',sans-serif;
    font-weight: normal;
  }

body {
    min-height: 100vh;
    height: 100vh;
    background: linear-gradient(to right, #A96DA3, #93BEDF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    
}
.display {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 30px;
}
.second, .third{
    display: flex;
    flex-grow: 1;
}
.first, .fourth {
    display: flex;
}

.operator {
    background-color: yellow;
    height: 50px;
    width: 50px;

}

#buttonClear, #buttonReturn {
    background-color: cyan;
    height: 50px;
    width: 50px;
    text-align: center;
}

.number {
    background-color: white;
    height: 50px;
    width: 50px;
}

#buttonEqual {
    background-color: orange;
    flex-grow: 2;
}

#buttonReturn {
    flex-grow: 2;
}
